<!DOCTYPE html>
<html>


    <title>Lulu's Animal Sheter</title>
    <link rel="stylesheet" href="style.css" media="screen">


<body>
    <h1 align="middle"><strong>Lulu's Animal Shelter</strong></h1>
    [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a
        href="vaccinations">Vaccinations</a> | <a href="petvaccinations">PetVaccinations</a>]


    <div class="center">
        <center>
            <h2>About Us</h2>
        </center>
        <center>
            <pg>Lulu's Animal shelter is a no-kill shelter.<br>
                With 5,000 to 6,000 animals coming through our doors each year, <br>
                the shelter provides a safe place for dogs and cats to stay <br>
                while they wait for their forever families. At any given time, visitors to the <br>
                shelter can meet cats and kittens, and dogs and puppies. <br>
                We are very proud of our excellent compassionate staff, progressive sheltering policies,<br>
                and the wonderful animal-loving community we're a part of!</pg>
        </center><br>
    </div>

    <h4>Group 98: Ethan Hardey & Nargis Habibi </h4>

</body>

</html>