<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>

    <p id="links"> [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
            href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a href="vaccinations">Vaccinations</a>
        |
        <a href="petvaccinations">PetVaccinations </a>]
    </p>

    <div id="image">
        <img src="./img/cats-and-dogs7.jpg">
    </div>

    <div id="logo">
        <img src="./img/logo.png" width="140" height="140">
    </div>

    <p id="text1"><strong>Find someone who will never want to let go</strong></p>


    <h5 id="group_info">Group 98: Ethan Hardey & Nargis Habibi </h5>

</body>

</html>