<title>PetVaccinations</title>

<body>
    <h1>PetVaccinations</h1>
        [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a
        href="vaccinations">Vaccinations</a> | <a href="petvaccinations">PetVaccinations</a>]
    <p><strong>View PetVaccinations</strong></p>

    <table border="1" cellpadding="5" id="petvaccinations-table">
        <tr>
            <th></th>
            <th></th>
            <th>petvaccination_id</th>
            <th>date</th>
            <th>pet_id</th>
            <th>vaccination_id</th>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">1</td>
            <td align="middle">2019-02-06</td>
            <td align="middle">3</td>
            <td align="middle">5</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">2</td>
            <td align="middle">2015-05-11</td>
            <td align="middle">2</td>
            <td align="middle">2</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">3</td>
            <td align="middle">2019-10-01</td>
            <td align="middle">1</td>
            <td align="middle">4</td>
        </tr>
    </table>

    <br>
    <form action="">
        <fieldset>
            <legend><strong>Add PetVaccination</strong></legend>
            <label>date: </label><input type="date" name="date"><br>
            <label>pet_id: </label>
            <select name="pet_id">
                <option value="0">&nbsp;</option>
                <option value="1" selected="">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                </select><br>
            <label>vaccination_id: </label>
            <select name="vaccination_id">
                <option value="0">&nbsp;</option>
                <option value="1" selected="">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                </select><br>
        </fieldset><br>

</body>