<link rel="stylesheet" href="style.css" media="screen">
<title>Vaccinations</title>

<body>
    <h1>Vaccinations</h1>
        [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a
        href="vaccinations">Vaccinations</a> | <a href="petvaccinations">PetVaccinations</a>]
    <p><strong>View Vaccinations</strong></p>
    <table border="1" cellpadding="5">
        <tr>
            <th></th>
            <th></th>
            <th>vaccination_id</th>
            <th>vaccination_name</th>
            <th>age_administered</th>
            <th>dosage</th>
            <th>species</th>
            <th>booster</th>
            <th>description</th>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">1</td>
            <td align="middle">Rabies</td>
            <td align="middle">3 months</td>
            <td align="middle">1 Dose</td>
            <td align="middle">Dog</td>
            <td align="middle">Annual</td>
            <td align="middle">Rabies is 100% fatal to dogs, with no treatment available.</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">2</td>
            <td align="middle">Parvovirus</td>
            <td align="middle">6 - 16 Weeks</td>
            <td align="middle">3 Doses</td>
            <td align="middle">Dog</td>
            <td align="middle">1 Year</td>
            <td align="middle">Canine "parvo" is contagious, and can cause severe vomiting and bloody diarrhea</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">3</td>
            <td align="middle">Parvovirus</td>
            <td align="middle">Over 16 Weeks</td>
            <td align="middle">2 Doses</td>
            <td align="middle">Dog</td>
            <td align="middle">Every 3 Years</td>
            <td align="middle">Canine "parvo" is contagious, and can cause severe vomiting and bloody diarrhea</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">4</td>
            <td align="middle">Rabies</td>
            <td align="middle">8 - 16 Weeks</td>
            <td align="middle">1 Dose</td>
            <td align="middle">Cat</td>
            <td align="middle">Annual</td>
            <td align="middle">Rabies is 100% fatal to cats, with no treatment available.</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showform('update')">Edit</a></td>
            <td><a href="#" onclick="showform('update')">Delete</a></td>
            <td align="middle">5</td>
            <td align="middle">Feline Herpesvirus</td>
            <td align="middle">6 - 20 Weeks</td>
            <td align="middle">3 Dose</td>
            <td align="middle">Cat</td>
            <td align="middle">Every 3 Years</td>
            <td align="middle">Feline herpesvirus causes feline viral rhinotracheitis</td>
        </tr>
    </table>

    <br>
    <div>
        <form action="">
            <fieldset>
                <legend><strong>Add Vaccination</strong></legend>
                <label>vaccination name: </label><input type="text" name="vaccination_name"><br>
                <label>age administered: </label><input type="text" name="age_administered"><br>
                <label>dosage: </label><input type="text" name="dosage"><br>
                <label>species: </label><input type="text" name="species"><br>
                <label>booster: </label><input type="text" name="booster"><br>
                <label>description: </label><input type="text" name="description"><br>
            </fieldset><br>
            <input class="btn" type="submit" value="Add Vaccination">
            <input class="btn" type="button" value="Cancel"><br><br><br>
            <fieldset>
                <legend><strong>Update Vaccination</strong></legend>
                <label>vaccination name: </label><input type="text" name="vaccination_name"><br>
                <label>age administered: </label><input type="text" name="age_administered"><br>
                <label>dosage: </label><input type="text" name="dosage"><br>
                <label>species: </label><input type="text" name="species"><br>
                <label>booster: </label><input type="text" name="booster"><br>
                <label>description: </label><input type="text" name="description"><br>
            </fieldset><br>
            <input class="btn" type="submit" value="Update Vaccination">
            <input class="btn" type="button" value="Cancel"><br><br><br>
            <fieldset>
                <legend><strong>Delete Vaccination</strong></legend>
                <label>vaccination_id: </label><input type="text" name="first_name">
            </fieldset><br>
            <input class="btn" type="submit" value="Delete Vaccination">
            <input class="btn" type="button" value="Cancel">
        </form>
    </div>

</body>